---
---

@import "variables";
@import "header";
@import "sidebar";
@import "blog";
@import "resume";
@import "project";
@import "font";

html {
    height: 100%;
}
  
body {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    color: $dark-grey-color;
    font-weight: 300;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: $franklin-gothic-book;
}

a {
    font-weight: 500;
    color: $primary-color;
    letter-spacing: 0.5px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    text-transform: uppercase;
    font-size: 12px;

    &:hover {
        color: $link-color;
        background-color: transparent;
    }

    &:focus {
        outline: none;
        outline-offset: 0;
    }
}
 
// .content {
//     flex: 1;
// }

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $franklin-gothic-book;
    color: $dark-grey-color;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

// .padding-bottom {
//     padding-bottom: 65px;
// }

// .padding-top {
//     padding-top: 30px;
// }

// .padding {
//     padding: 65px 0;
// }

.overflow {
    overflow: hidden;
}

footer {
    color: $global-black;
    border-top: 1px solid $light-grey-color;
    padding: 10px;

    .copyright {
        text-align: center;
        color: $global-black;
        font-size: 15px;
        font-weight: 500;
        img {
            width: 15px;
            height: 15px;
            margin-bottom: 4px;
        }
    }
}

.current, .active a {
    color: $link-color;
}

.logo {
    width: 20px;
    height: 20px;
}

.about-wrapper {
    padding: 50px 15px;

    .intro-profile-wrapper {
        height: 150px;
        width: 150px;
        display: flex;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .profile-image + h1 {
        margin-top: 28px;
    }

    .intro-title {
        font-family: $franklin-gothic-medium;
        font-weight: 700;
        font-style: normal;
        margin: 1em 0 .66em 0;
        color: $global-black;
        font-size: 58px;
        line-height: 1;
    }

    .intro-description {
        font-size: 14px;
        line-height: 1.7;

        .intro-link {
            position: relative;
            text-decoration: none;
            display: inline-block;
            color: inherit;
            padding: 0 1px;
            transition: color ease 0.3s;

            &:hover {
                color: $global-white;
            }

            &:hover:after {
                height: 100%;
            }
        }

        .intro-link:after {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 6%;
            min-height: 2px;
            left: 0;
            bottom: 0;
            background-color: $dark-grey-color;
            transition: all ease 0.3s;
        }
    }

    .intro-social-link {
        display: inline-flex;
        text-decoration: none;
        user-select: none;
        border: 1px solid;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
    }

    .fa {
        font-size: 20px;
    }
}