.page-title {
    padding: 50px 0px;
}

* {
    box-sizing: border-box;
}

.page-title h1 {
    font-size: 74px;
    line-height: 80px;
    font-weight: 900;
    color: #3B3B3B;
}

.theme-color {
    color: #0ADCD5;
}

.page-title p {
    color: #747474;
    font-weight: 300;
    font-size: 18px;
    margin: 40px 0px 10px;
}

#footer {
  background-image: none;
}

.col-md-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}


#recent-projects {
    padding: 50px 0px;
}

.portfolio-view {
  background: rgba(242, 242, 242, 0.85) none repeat scroll 0% 0%;
}

.portfolio-info h2 {
    font-size: 14px;
}
/*
.portfolio-thumb {
    margin-bottom: 30px;
}*/





/*.navbar-default li a:hover {
    color: #4FCCCD;
}
*/

/*********** BASE ***********/
body {
    font-size: 16px;
}
/*navigation*/
a {
    color: #818181;
}

a:hover, a:focus {
    color: #00AEEF;
}







/*********** PRODUCT DETAILS ***********/
.project-description {
    padding: 10px 0px 20px;
    font-size: 16px;
}

.col-sm-12.center-btn {
    text-align: center;
}


/*button*/
.btn-common {
    font-size: 14px;
    color: #00AEEF;
    border: 1px solid #00AEEF;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    padding: 10px 25px;
}


.btn-common:focus {
    color: #00AEEF;
    border-color: #00AEEF;
}

.btn-common:hover{
    color: #FFF;
    background-color: #00AEEF;
    border-color: #00AEEF;
}

.live-preview .btn-common {
    margin-right: 5px;
}

.project-name h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    color: #3B3B3B;
    font-weight: 700;
    line-height: 1.2;
    font-size: 36px;
}

.col-sm-12.paragraph-section {
    padding-top: 55px;
}

.project-title {
   font-size: 20px; 
   font-weight: 400;
}

.portfolio-single.layout {
    width: 100%;
    padding: 30px 0px;
}