/*********** BASE ***********/
body {
    font-size: 16px;
    height: auto !important;
    height: 100%;
}

.page-title {
    padding: 90px 0 60px 0;
}

.page-title h1 {
    font-size: 74px;
    line-height: 80px;
    font-weight: 900;
    color: #3B3B3B;
}

.theme-color {
    color: #0ADCD5;
}

.page-title p {
    color: #747474;
    font-weight: 300;
    font-size: 18px;
    margin: 40px 0px 10px;
}

.col-md-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#header {
    padding: 30px 0px 0px;
}

.portfolio-filter {
    margin: 25px 0px;
}

.container > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}

.padding-bottom {
    padding-bottom: 150px;
}


/*NAVIGATION*/
a {
    color: #00AEEF;
}

a:hover {
    color:#000;
}

.current {
   color: #000;
}

.nav > li > a:hover {
    background-color: transparent;
}

.navbar-right.modify {
    margin-right: -57px;
}

.portfolio-view .nav-pills li a:hover {
    color: #00AEEF;
    border-color: #00AEEF;
}

.tile-view{
    display: block;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.tile-view:hover {
    opacity: .5;
    background-color: rgba(242, 242, 242, 0.85);
}


/**************** INDEX PAGE ****************/

.social-icons ul li a:hover .fa-github {
    color: #2AA7DC;
}

i {
    font-weight: 400;
}

.about-me {
    font-size: 19px;
    line-height: 1.4;

}
.typing-element {
    color: #0ADCD5;
}

.typed-cursor {
    color: #0ADCD5;
    display: inline;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*INDEX - PORTFOLIO*/

.intro-title, .intro-text {
    padding-left: 12px;
}

.intro-section {
    padding-bottom: 40px;
}

.intro-section hr {
    float: left;
    width: 70px;
    background-color: #999;
    height: 4px;
    margin-top: 0px;
    margin-left: 12px;
}

.introductory-text {
    padding: 30px 0;
}


/**************** FOOTER ****************/
.footer-nav {
    display: inline-block;
    padding-left: 15px;
    padding-right: 12px;
    font-size: 11px;
}
body {
    position: relative;
    min-height: 100%
}

#footer {
    /*height: 30px;*/
    position: absolute;
    background-color: #FFF;
    border-top: 1px solid #FCF9F9;
    color: #686868;
    padding-top: 6px;
    background-image: none;
    padding-bottom: 0;
}

.navigation-footer {
    text-align: right;
}

.copyright {
    font-size: 13px;
    text-align: center;
   /* float: right*/
}

/**************** PORTFOLIO DETAILS ****************/

#portfolio {
    padding-bottom: 60px;
    padding-top: 50px;
}

.main-image {
    padding-bottom: 30px;
}

.project-title {
    color: #3B3B3B;
}

.fa.fa-angle-right {
    color: #0884D5;
}

.col-xs-3.col-sm-2.tools {
    padding-bottom: 30px;
}

.img-responsive.main-image {
    padding-bottom: 25px;
}

.project-desc {
    padding: 10px 0px 0px 0px;
}

li.work-detail {
    list-style-type: circle;
}

/*MORE WORK */

.left.team-carousel-control {
    left: -50px;
    background-image: url("../images/slides/left.png");
}

.right.team-carousel-control {
    right: -50px;
    background-image: url("../images/slides/right.png");
}

.project-description {
    padding: 10px 0px 20px;
    font-size: 16px;
}

.col-sm-12.center-btn {
    text-align: center;
}

.btn-common {
    font-size: 14px;
    color: #00AEEF;
    border: 1px solid #00AEEF;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    padding: 10px 25px;
}

.btn-common:focus {
    color: #00AEEF;
    border-color: #00AEEF;
}

.btn-common:hover{
    color: #FFF;
    background-color: #00AEEF;
    border-color: #00AEEF;
}

.live-preview .btn-common {
    margin-right: 5px;
}

.project-name h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    color: #3B3B3B;
    font-weight: 700;
    line-height: 1.2;
    font-size: 36px;
}

.col-sm-12.paragraph-section {
    padding-top: 55px;
}

.project-title {
 font-size: 20px;
 font-weight: 400;
}

.portfolio-single.layout {
    width: 100%;
    padding: 30px 0px;
}

.project-info.overflow {
    padding-bottom: 20px;
}

.portfolio-thumb.picture {
    padding-bottom: 20px;
}

.portfolio-single.product-design {
    display: inline-block;
}

.portfolio-single.image-section {
    padding: 30px 0px;
}

#recent-projects {
    padding: 50px 0px;
}

.portfolio-view {
  background: rgba(242, 242, 242, 0.85) none repeat scroll 0% 0%;
}

.portfolio-info h2 {
    font-size: 14px;
}

.fa.fa-tag.subsection, .fa.fa-clock-o.subsection {
    padding-right: 5px;
}

.subsection-icon {
    font-size: 12px;
    padding: 0px 15px 0px 0px;
    color: #9B9B9B;
}

.portfolio-single.image-section.finasafe {
    padding: 40px 0px 0px 0px;
}

#more-work {
    padding-bottom: 100px;
}

/**************** BLOG - DETAILS PAGE ****************/
.article-title {
    text-transform: uppercase;
    padding-top: 45px;
}

.author-profile .col-sm-2 img {
    border-left: none;
}

.post-meta {
    color: rgb(180, 180, 180);
    font-size: 16px;
}

.article-content {
    font-size: 100px;
}

/**************** ARCHIVES PAGE ****************/
.archive-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: rgb(104, 104, 104);
}

.archive {
    padding: 12px 0;
}

.section {
    border-block-end: 1px solid #e9e6e6;
    padding: 30px 0;
}

.article-section {
    padding: 12px 0;
}

.article-title {
    text-transform: capitalize;
    /*font-size: 18px;*/
    padding-top: 0;
    margin-top: 0;
}

.article-date {
    color: rgb(189, 184, 184);
    text-transform: uppercase;
}
