---
layout: default
title: Kristel Teng | Resume
permalink: /resume
---

<section id="introduction" class="padding-top padding-bottom">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">

      {% for project in site.data.resume %}
      <h2>{{ project.section }}</h2>

      {% for resume in project.company %}
        <div class="resume_section">
          <div class="row">
            <div class="col-sm-3">
              <p class="resume_title">{{ resume.title }}</p>
              <p class="company-name">{{ resume.name }}</p>
              <p class="timeline">{{ resume.timeline }}</p>  
            </div>
            
            <div class="col-sm-9">
              {% for work in resume.project %}
              <p class="project-description">
                <a href="{{ work.link }}" target="_blank">{{ work.name }}</a> 
                {{ work.description }}
              </p>
              <ul>
                {% for detail in work.work-detail %}
                <li class="work-detail">{{ detail.list}}</li>
                {% endfor %}
              </ul>
              {% if work.tool-used.length > 0 %}
              <p class="resume-tools">
                <span class="tools-title">Tools used:</span> {{ work.tools-used }}
              </p>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}

      </div>
    </div>
  </div>
</section>