---
layout: default
title: Kristel Teng | Work
permalink: /work/
---

<section class="main-tiles-wrapper">
	<div class="container">
		<div class="row">		
            <div class="col-sm-12">
                {% include sub-nav.html %}
        
                <div class="content-wrapper">
                    <div id="code">
                        {% include subwk-code.html %}
                    </div>

                    <div id="branding">
                        {% include subwk-design.html %}
                    </div>

                    <div id="product">
                        {% include subwk-product.html %}
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>









<!-- <section class="main-tiles-wrapper">
	<div class="container">
		<div class="row">		
            <div class="col-sm-12">
                <ul class="nav sub-nav">
                    <li class="active">
                        <a href="#code" data-toggle="tab">Coding</a>
                    </li><span class="separator"> | </span>
                    <li>
                        <a href="#branding" data-toggle="tab">Branding</a>
                    </li><span class="separator"> | </span>
                    <li>
                        <a href="#product" data-toggle="tab">Product & Packaging Design</a>
                    </li>
                </ul>
        
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="code">
                    {% for detail in site.data.work-code.code %}
                    <div class="col-md-3 col-sm-6">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                <div class="tile-view">
                                    <a href="{{ detail.link }}">
                                    <img src="{{ detail.image_thumb }}" class="img-responsive" alt="{{ detail.title }}" />
                                    </a>
                                </div>
                                </div>
                            </div>
                            <div class="portfolio-info">
                                <a class="portfolio-name" href="{{ detail.link }}">{{ detail.name }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>

                    <div class="tab-pane" id="branding">
                        {% for detail in site.data.work-design.design %}
                        <div class="col-md-3 col-sm-6">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-single">
                                    <div class="portfolio-thumb">
                                    <div class="tile-view">
                                        <a href="{{ detail.link }}">
                                        <img src="{{ detail.image_thumb }}" class="img-responsive" alt="{{ detail.title }}" />
                                        </a>
                                    </div>
                                    </div>
                                </div>
                                <div class="portfolio-info">
                                    <a class="portfolio-name" href="{{ detail.link }}">{{ detail.name }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane" id="product">
                        {% for detail in site.data.work-product.product %}
                        <div class="col-md-3 col-sm-6">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-single">
                                    <div class="portfolio-thumb">
                                    <div class="tile-view">
                                        <a href="{{ detail.link }}">
                                        <img src="{{ detail.image_thumb }}" class="img-responsive" alt="{{ detail.title }}" />
                                        </a>
                                    </div>
                                    </div>
                                </div>
                                <div class="portfolio-info">
                                    <a class="portfolio-name" href="{{ detail.link }}">{{ detail.name }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
		</div>
	</div>
</section> -->