---
layout: work_details
title: Elastic To Go
---

{% for project in site.data.work-product.product %}
{% if project.title == 'elasticToGo' %}
<div class="project-name overflow">
  <h2 class="bold">{{ page.title }}</h2>
  <p class="project-description">{{ project.intro }}</p>
  
  <h3 class="project-title">clients: </h3>
  <p class="project-description">{{ project.clients }}</p>

  <div class="portfolio-detail-wrapper">
    {% for image in project.images %}
    <div class="portfolio-single image-section">
      <img src="{{ image.location }}" class="img-responsive" alt="{{ image.title }}" />
    </div>
    {% endfor %}
  </div>
</div>

<div class="col-sm-12 text-center padding-bottom">
  <div class="live-preview">
    {% for btn in project.buttons %}
    <a href="{{ btn.link }}" class="btn btn-common" target="_blank">{{ btn.label }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}