---
layout: work_details
title: Topsecret
image: /assets/images/thumbnail/work/work_04.png
---

<div class="project-name overflow">
  <h2 class="bold">{{page.title}}</h2>
  <p class="project-description">Topsecret is a peer to peer Multilayered Encryption Video Chat for Mobile and Desktop. Topsecret is one of Privacy Shell's multiple products.</p>
  <ul>
    <li class="work-detail">Implemented a few landing pages for Topsecret in Wordpress, tracked analysis with Google Analytics and conducted A/B testing in Optimizely to measure the impact of the design changes on the users. Responsible for monitoring and reporting on website traffic and performance to internal team</li>
  </ul>

  <h3 class="project-title">Tools used</h3>
  <div class="col-md-3 col-xs-6">
    <ul class="elements">
      <li><i class="fa fa-angle-right"></i> Javascript</li>
      <li><i class="fa fa-angle-right"></i> CSS3</li>
      <li><i class="fa fa-angle-right"></i> HTML5</li>
      <li><i class="fa fa-angle-right"></i> Wordpress</li>
    </ul>
  </div>

  <div class="col-md-3 col-xs-6">
    <ul class="elements">
      <li><i class="fa fa-angle-right"></i> Wordpress</li>
      <li><i class="fa fa-angle-right"></i> Google Analytics</li>
      <li><i class="fa fa-angle-right"></i> Optimizely</li>
      <li><i class="fa fa-angle-right"></i> Adobe Suite</li>
    </ul>
  </div>

  <div class="portfolio-wrapper">
    <div class="portfolio-single image-section">
      <img src="/assets/images/portfolio-details/topsecret/topsecret-web.png" class="img-responsive" alt="{{page.title}}" target="_blank">
    </div>
  </div>
</div>

<h3 class="project-title">Design layout</h3>
  <p class="project-description">Created the user flows and layouts for Topsecret chat system in Adobe. Developed prototypes using Invision to present to potential clients. Conducted user testing and report the findings to team members.</p>

<div class="portfolio-wrapper padding-top padding-bottom">
  <div class="portfolio-single image-section">
    {% for image in site.static_files %}
      {% if image.path contains 'images/portfolio-details/topsecret/chat'%}
        <img src="{{site.baseurl}}{{image.path}}" class="img-responsive padding-bottom" alt="{{page.title}}">
      {% endif %}
    {% endfor %}
  </div>
</div>