<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A Graphic designer for 8 years, turned UX designer and software developer. Kristel loves merging the best of design and engineering. Bridging the gap between design and technical implementation, She works holistically considering both form and function.">
  <meta name="author" content="Kristel Teng">
  <title>
    {% if page.title %}
    {{ page.title }}
    {% else %}
    Default Page Title
    {% endif %}
  </title>
  <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/animate.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/lightbox.css" rel="stylesheet">
  <!-- <link href="{{site.baseurl}}/css/main.css" rel="stylesheet"> -->
  <link href="{{site.baseurl}}/css/responsive.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" src="{{site.baseurl}}/js/jquery.js"></script>
    <script src="{{site.baseurl}}/bower_components/typed.js/js/typed.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/welcome.js" id="simpleIntro"></script>