<div class="col-md-8">
    <div class="navigation-footer">
        <ul>
        	<li class="footer-nav uppercase"><a {% if page.url == '/' %} class="current" {% endif %} href="{{site.baseurl}}/index.html">About</a></li>

			<li class="footer-nav uppercase"><a {% if page.url contains 'portfolio' %} class="current" {% endif %} href="{{site.baseurl}}/portfolio/index.html">Portfolio</a></li>

			<li class="footer-nav uppercase"><a {% if page.url contains 'blog' %} class="current" {% endif %} href="{{site.baseurl}}/blog/index.html">blog</a></li>

			<li class="footer-nav uppercase"><a href="{{ site.baseurl }}/resume/kristelteng_resume.pdf">Resume</a></li>
			<li class="footer-nav uppercase"><a href="mailto: kristelteng@gmail.com">Contact</a></li>


		</ul>
	</div>
</div>