<!--Taskcluster-docs -->
<!-- <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item web recent">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <div class="portfolio-thumb">
                <div class="tile-view">
                    <a href="{{site.baseurl}}/portfolio/taskclusterdocs.html"><img src="{{site.baseurl}}/images/portfolio/portfolio-pic-19.png" class="img-responsive" alt="taskcluster_portfolio"></a>
                </div>
            </div>
        </div>

        <div class="portfolio-info ">
            <h2>Taskcluster Docs - Mozilla</h2>
        </div>
    </div>
</div> -->

<!--Delibake -->
<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item web recent">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <div class="portfolio-thumb">
                <div class="tile-view">
                    <a href="{{site.baseurl}}/portfolio/delibake.html"><img src="{{site.baseurl}}/images/portfolio/portfolio-pic-25.png" class="img-responsive" alt="taskcluster_portfolio"></a>
                </div>
            </div>
        </div>

        <div class="portfolio-info ">
            <h2>Delibake</h2>
        </div>
    </div>
</div>

<!--Taskcluster-tool -->
<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item web recent">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <div class="portfolio-thumb">
                <div class="tile-view">
                    <a href="{{site.baseurl}}/portfolio/taskcluster.html"><img src="{{site.baseurl}}/images/portfolio/portfolio-pic-15.png" class="img-responsive" alt="taskcluster_portfolio"></a>
                </div>
            </div>
        </div>

        <div class="portfolio-info ">
            <h2>Taskcluster Tool - Mozilla</h2>
        </div>
    </div>
</div>

<!--Medley -->
<div class="col-xs-6 col-sm-4 col-md-3 portfolio-item web recent">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <div class="portfolio-thumb">
                <div class="tile-view">
                    <a href="{{site.baseurl}}/portfolio/medley.html"><img src="{{site.baseurl}}/images/portfolio/portfolio-pic-24.png" class="img-responsive" alt="taskcluster_portfolio"></a>
                </div>
            </div>
        </div>

        <div class="portfolio-info ">
            <h2>Medley Cuisine</h2>
        </div>
    </div>
</div>
