<!-- Current Work -->
<section id="related-work">
    <div class="container">
        <div class="row">

            <div class="intro-section">
                <h2 class="intro-title uppercase">Some of my latest work</h2>
                <hr>
            </div>

            <div class="col-sm-4">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/images/portfolio/portfolio-pic-15.png" class="img-responsive" alt="taskcluster_portfolio">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="{{site.baseurl}}/portfolio/taskcluster.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info ">
                        <h2>Taskcluster Tool - Mozilla</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/images/portfolio/portfolio-pic-15.png" class="img-responsive" alt="taskcluster_portfolio">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="{{site.baseurl}}/portfolio/taskcluster.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info ">
                        <h2>Delibake</h2>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="{{site.baseurl}}/images/portfolio/portfolio-pic-15.png" class="img-responsive" alt="taskcluster_portfolio">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="{{site.baseurl}}/portfolio/taskcluster.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-info ">
                        <h2>Taskcluster Tool - Mozilla</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/#current-work-->