.header {
    margin-bottom: 0;
    padding: 30px 0;

    .navbar {
        background: $global-white;
        min-height: 0;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 3px 0px;
    }

    .navbar-right {
        > li:last-child {
            margin-right: 20px;
        }

        li {
            a {
                letter-spacing: 0.8px;
                font-size: 11px;
                text-transform: uppercase;
                color: $primary-color;
                font-family: $franklin-gothic-medium;

                -webkit-transition: 300ms;
                -moz-transition: 300ms;
                -o-transition: 300ms;
                transition: 300ms;

                &:focus, 
                &:hover {
                    background-color: inherit;
                    border: 0;
                    outline: none;
                    outline-offset: 0;
                    color: $link-color;
                }

                &:active,
                &:hover,
                &.current {
                    color: $link-color;
                }
            }
        }

        li:hover {
            background-color: transparent;
            border: 0;
        }
    }
}