.sidebar {
    h3 {
        border-bottom: 3px solid $light-grey-color;
        margin-top: 0;
        color: $dark-grey-color;
    }

    .sub-nav {
        padding: 0;
        list-style: none;
        font-family: $franklin-gothic-medium;

        a {
            padding: 5px 0px;
            line-height: 1.5;
        }

        .nav-item a:hover {
            background: transparent;

        }
    }
}