// Colors
$global-black: #000;
$global-white: #fff;

$link-color: #00AEEF;
$primary-color: $global-black;

$dark-grey-color: #333;
$light-grey-color: #ececec;

// Fonts
$franklin-gothic-book: "Franklin Gothic Book", sans-serif;
$franklin-gothic-medium: "Franklin Gothic Medium", sans-serif;