---
layout: default
---
<section id="blog-details" class="padding-top">
	<div class="container">
		<div class="row">

			<div class="col-md-9 col-sm-7">
				<div class="row">
					 <div class="col-md-11 col-sm-12">

					 	<!-- Blog Details Column -->
						<div class="single-blog blog-details two-column">
							<img src="/images/home/image1.png" class="img-responsive" alt="">

							<!-- {% for tag in page.tags %} -->
							<h1 class="article-title">{{ page.title }}</h1>
								<p>
									<span class="post-meta">
										{{ page.date | date_to_string }}
									</span>
									{% unless forloop.last %}{% endunless %}
								</p>
							<!-- {% endfor %} -->

							<div class="post-content overflow">
								<p>{{ content }}</p>
							</div>
							<hr>

							<!-- about me -->
							<div class="author-profile padding">
								<div class="row">
									<div class="col-sm-2">
										<img src="/images/home/icon1.png" alt="">
									</div>
									<div class="col-sm-10">
										<h3>{{site.title}}</h3>
										<p>{{site.description}}</p>
									</div>
								</div>
							</div>
						</div>
						<!-- End Blog Details Column -->
					</div>
				</div>
			</div>

		{% include sidemenu.html %}
		</div>
		<!-- End Row -->
	</div>
	<!-- End Container -->
</section>